.container-carusel{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 50%;
    position: relative;
}

.container-carusel img{
    width: 50%;
    height: 50%;
}

.card-header h4{
    text-align: center; 
}

.container-carusel::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content:' ';
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1;
}

.separador{
    margin: 5%;
}